* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/*LANDING*/

.hero {
  background-color: #c6e0f9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__logo {
  width: 150px;
  border-radius: 50%;
}

.content__slogan {
  font-family: "Fredoka", sans-serif;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  font-stretch: expanded;
  color: #214f50;
  line-height: 1.31;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  margin-top: 15px;

  /*//-webkit-text-stroke: 1px #1d9347*/
}

.content__button {
  background-color: #faa115;
  padding: 6px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.content__button:hover {
  background-color: #214f50;
}

.button__a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 1.5px;
}

@media (min-width: 768px) {
  .hero__content {
    margin-top: 12rem;
  }

  .content__logo {
    width: 200px;
  }

  .content__slogan {
    font-size: 40px;
    margin-left: 15px;
    margin-right: 20px;
  }

  .content__button {
    padding: 6px 18px;
  }
}

@media (min-width: 1200px) {
  .content__logo {
    width: 250px;
  }

  .content__slogan {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .content__button {
    padding: 7px 20px;
  }
}

/* COUNTER*/

.counter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
}

.counter__title {
  font-size: 3rem;
  font-weight: bold;
  color: #faa115;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.counter__number {
  font-size: 4rem;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.counter__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.counter__button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #214f50;
  color: #fff;
  transition: background-color 0.3s ease;
}

.counter__button:hover {
  background-color: #76a3d3;
}

.counter__button--reset {
  width: 100%;
  margin-top: 10px;
}
